/**
 * Filters
 */
.cards-filters {
  // background: #FFF;
  padding: $gutter;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $sans;
  a {
    background: #FFF;
    padding: 0.25rem 1rem;
    &.is-active {
      background: $primary;
      color: #FFF;
    }
  }
}

/**
 * Article
 */

h1 {
  // margin-top: 1rem!important;
  margin-bottom: 3rem!important;
  color: $accent;
}

.article {
  hyphens: auto;
  // :not(blockquote)
  >:not(figure):not(video) {
    margin-right: 3rem;
    margin-left: 3rem;
  }
  >:not(:last-child) {
    margin-bottom: 2rem;
  }
  * ~ h2,
  * ~ h3 {
    margin-top: 4rem;
  }
  h2 {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0.75rem;
      left: -3rem;
      width: 2.5rem;
      height: 1rem;
      background: $grey;
    }
  }
  h4 {
    font-family: $sans;
    font-weight: bold;
  }
  p {
    line-height: 1.65;
  }
  blockquote {
    padding: 0 $pad*2;
    border-left: 0.5rem solid tint($accent, 80%);
    border-right: 0.5rem solid tint($accent, 80%);
    font-family: $sans;
    cite {
      display: block;
      font-size: 0.875rem;
      font-family: $serif;
      text-align: right;
      // color: shade($accent, 20%);
      color: $medium;
      &::before {
        content: "— ";
      }
    }
    ~ blockquote {
      margin-top: $gutter*4;
    }
  }
  img {
    box-shadow: 0 .125rem .5rem 0 rgba($dark, 0.15);
    border: 1px solid $grey;
  }
  figcaption {
    margin: 1rem 6rem 0;
    text-align: center;
    font-family: $sans;
    font-size: 0.875rem;
    color: $darker;
  }
  ul {
    @extend .list;
    margin: 0 6rem!important;
  }
  /**
   * Table of content
   */
  .c-toc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > * {
      flex: 1 0 auto;
      text-align: center;
      margin: 0;
      padding: 1rem;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      ~ * {
        margin-left: 2rem;
      }
    }
  }
  > * h2 {
    margin-bottom: 2rem;
  }
  .toc-section ~ .toc-section {
    margin-top: $gutter*4;
  }
}
