/**
 * Aside events
 */

a {
  display: inline-block;
  color: $dark;
}

.aside-events {
	position: relative;
  height: 32rem;
  box-shadow: 0 0 1rem 0 rgba($dark, 0.25);
  .c-label {
  	position: initial!important;
  }
}
