/**
 * Masonry Grid
 */

// .c-grid {
//   &.--masonry {
//     column-count: 1;
//     column-gap: $gutter * 2;
//     padding: 0 $gutter;
//     @include sm {
//       column-count: 2;
//     }
//     @include lg {
//       column-count: 3;
//     }
//   }
//   > * {
//     page-break-inside: avoid;
//     break-inside: avoid;
//     margin-bottom: $gutter * 2;
//     overflow: hidden;
//   }
// }

/**
 * Cards
 */

.c-grid {
  display: flex;
  flex-flow: row wrap;
  /**
   * c-card sizes
   */
  > * {
    margin: $gutter;
    flex-grow: 1;
  }
  .--size-full {
    flex-basis: 100%;
  }
  .--size-half {
    flex-basis: calc(100% / 2 - #{$gutter} * 2);
    @include down($md) {
      flex-basis: 100%;
    }
  }
  .--size-x2 {
    flex-basis: calc((100% / 3 - #{$gutter}) * 2);
    @include down($md) {
      flex-basis: 100%;
    }
  }
  .--size-x3 {
    flex-basis: calc(100% / 3 - #{$gutter} * 2);
    @include down($md) {
      flex-basis: calc(100% / 2 - #{$gutter} * 2);
    }
  }
  /**
   * c-card bases
   */
  .c-card {
    box-shadow: 0 0 1rem 0 rgba($dark, 0.25);
    // transform: translate(0, 0);
    transform: scale(1);
    transition: box-shadow 0.35s ease-in-out, transform 0.25s ease-in-out;
    // Animation
    &.-out {
      // transform: translate(0, -20rem);
      transform: scale(0.35);
      opacity: 0;
    }
    &:hover {
      box-shadow: 0 0 2rem 0 rgba($dark, 0.5);
      // transform: scale(1.025);
    }
    &.--event .heading {
      // background: tint($primary, 85%);
      background: #F1EDED;
    }
  }
  img {
    border-bottom: 2px solid transparent;
    // background: $dark;
    // filter: grayscale(0.25);
    // opacity: 0.5;
  }
  .heading {
    flex: 1;
    position: relative;
    padding: 1rem $pad 3rem;
    background: #FFF;
    h2 {
      font-weight: bold;
      font-family: $sans;
      font-size: 1.125rem;
      line-height: 1.4;
      // a {
      //   display: inline;
      //   border-bottom: 1px dotted $grey;
      // }
    }
    h4 {
      font-size: 0.875rem;
      font-family: $sans;
      color: $medium;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
    p {
      font-size: 0.875rem;
      font-family: $sans;
      color: $strong;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
  }
  .c-label {
    position: absolute;
    bottom: 1rem;
  }
  // override
  .--size-x1 {
    figure {
      width: calc(100% / 3 - 1.5rem);
      min-height: 12rem;
      @include down($md) {
        flex-basis: 50%;
      }
    }
    img {
      border: none;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .heading {
      padding-top: $pad;
      border-left: 2px solid transparent;
    }
  }
}
