/**
 * Carousel
 */

.carousel {
  position: relative;
  box-shadow: 0 0 1rem 0 rgba($dark, 0.25);
  &-item {
    height: 32rem;
    position: relative;
    overflow: hidden;
    // background: $medium;
  }
  &-caption {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem 12rem 1.5rem 2rem;
    background: linear-gradient(-180deg, rgba($dark, 0) 0%, rgba($dark, 0.95) 80%);
    overflow: hidden;
  }
  // > * {
  //   flex: 1;
  //   flex: 0 100%;
  //   @include md {
  //     flex: 0 calc(50% - 1.5rem);
  //   }
  // }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    // filter: opacity(0.85);
  }
  a {
    color: #FFF;
    display: inline;
  }
  h2 {
    // font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.2;
    color: #FFF;
    text-shadow: 0 1px 2px rgba($dark, 0.85);
  }
  h4 {
    font-size: 0.875rem;
    font-family: $sans;
    color: $grey;
    margin-top: 1rem;
  }
  &-nav {
    display: none;
  }
  // &-nav {
  //   flex: 0 100%!important;
  //   position: relative;
  //   top: -6rem;
  //   > * {
  //     position: absolute;
  //     width: 4rem;
  //     height: 4rem;
  //     top: 0;
  //     display: block;
  //     padding: 0.5rem;
  //     background: $light;
  //     cursor: pointer;
  //   }
  //   > .prev {
  //     left: 0;
  //     @include xl {
  //       left: -4rem;
  //       background: none;
  //     }
  //   }
  //   > .next {
  //     right: 0;
  //     @include xl {
  //       right: -4rem;
  //       background: none;
  //     }
  //   }
  //   > .is-disabled {
  //     color: rgba($dark, 0.25);
  //     pointer-events: none;
  //     cursor: default;
  //   }
  // }
  .c-dots {
    position: absolute;
    z-index: 100;
    right: 2rem;
    bottom: 1rem;
    > * {
      background: rgba($light, 0.25);
    }
    // > .is-active {
    //   background: $accent;
    // }
  }
}

/**
 * Js carousel
 */
.carousel-wrapper,
.carousel-item {
  // width: calc((73rem / 3) * 2);
  width: 100%;
  height: 32rem;
}

.carousel-wrapper {
  overflow: hidden;
}

.carousel-items {
  position: relative;
  display: inline-flex;
  width: auto;
  transition: transform 0.5s ease-in-out;
}
