/**
 * Events list
 */

// maybe extends is-scroll
.events-list {
  padding: 2px;
  > * {
    position: relative;
    padding: 0.75rem $pad;
    &:hover {
      background: tint($light, 60%);
    }
  }
  >:not(:last-child) {
    border-bottom: 1px solid $light;
  }
  // a:first-child {
  a {
    font-weight: bold;
    font-family: $sans;
    font-size: 1rem;
    line-height: 1.35;
    // display: inline;
    // border-bottom: 1px dotted $grey;
  }
  small {
    display: block;
    margin-top: 0.5em;
    font-family: $sans;
    color: $medium;
  }
}
