/**
 * Info blocks
 */

.info-blocks {
  .c-card {
    box-shadow: inherit!important;
  }
  .c-module {
    &-inner {
      position: relative;
      &::after {
        position: absolute;
        z-index: -1;
        content: "";
        top: 0;
        bottom: 0;
        width: 50vw;
        background: #FFF;
      }
    }
    &:first-child {
      .c-module-inner::after {
        right: 0;
      }
    }
    &:last-child {
      .c-module-heading {
        background: $accent;
      }
      .c-module-inner::after {
        left: 0;
      }
    }
  }
}


/**
 * Study info block
 */

.study-btns .btn {
  flex: 1;
  &:first-child {
    margin-right: 2px;
  }
}
