/**
 * Cards
 */

.l-section {
  position: relative;
  // outline: 1px solid teal;
  &.--single .l-inner {
    max-width: 60rem;
  }
  &.--content {
    background: #FFF;
    margin: $gutter auto;
    padding: $pad 0;
  }
  &.--banner {
    text-align: center;
    .l-inner {
      max-width: 75rem;
      margin: $gutter auto;
      padding: $pad $pad*2;
      background: #FFF;
    }
    h1 {
      font: bold 2.5rem $sans;
      color: $accent;
    }
  }
}

/**
 * Specific cards
 */
.c-grid.--projects {
  .c-card {
    .heading h2 {
      font-size: 1.5rem;
    }
    button {
    	position: absolute;
    	bottom: 0;
    	right: 0;
    	font-size: 0.875rem;
    }
  }
}
