/**
 * Colour Map
 */


/*
<div flex="row-justify" class="--colourMap">
  <div class="--light"></div>
  <div class="--lighter"></div>
  <div class="--grey"></div>
  <div class="--medium"></div>
  <div class="--strong"></div>
  <div class="--darker"></div>
  <div class="--dark"></div>
  <hr>
  <div class="--primary"></div>
  <div class="--secondary"></div>
  <div class="--accent"></div>
  <div class="--success"></div>
  <div class="--wait"></div>
</div>
*/

.--colourMap {
  padding: 2rem 0;
  > * {
    flex-basis: calc(100% / 6 - 1rem);
    padding: 1rem;
    border: 1px solid;
  }
  .--light {
    background: $light;
  }
  .--lighter {
    background: $lighter;
  }
  .--grey {
    background: $grey;
  }
  .--medium {
    background: $medium;
    color: $light;
  }
  .--darker {
    background: $darker;
    color: $light;
  }
  .--strong {
    background: $strong;
    color: $light;
  }
  .--dark {
    background: $dark;
    color: $light;
  }
  .--primary {
    background: $primary;
    color: $light;
  }
  .--secondary {
    background: $secondary;
    color: $light;
  }
  .--accent {
    background: $accent;
    color: $light;
  }
  .--success {
    background: $success;
    color: $light;
  }
  .--wait {
    background: $wait;
    color: $light;
  }
}
