.l-footer {
  @import "logo";
  .logo {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .l-inner {
    padding: $gutter*2 $gutter*3;
  }
}

/**
 * Meta
 */

.meta {
  font-size: 0.8rem;
  svg {
    width: 10.25rem;
    height: 2.25rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-family: $sans;
    color: $medium;
  }
}


/**
 * Social icons
 */

.social-icons {
  margin-top: 0.5rem;
  a {
    margin-left: 0.5rem;
    color: $dark;
    &:hover {
      color: $primary;
    }
  }
  svg {
    width: 1.875rem;
    height: 1.875rem;
  }
}
