/**
 * Headers
 */

.nav-menu {
  flex-grow: 1;
  // @include xs {
  //   display: none;
  // }
  > ul {
    height: 3.5rem;
  }
  > ul > li {
    position: relative;
    margin-left: 1.5rem;
    line-height: 3rem;
  }
  a {
    display: inline-block;
    height: 100%;
    border-top: 0.25rem solid transparent;
    // font-weight: normal;
    &:hover {
      border-top-color: tint($primary, 70%);
    }
  }
  .is-active a {
    color: $accent;
    // border-top-color: $accent;
    border-top-color: tint($primary, 70%);
  }
  li ul {
    display: none;
    position: absolute;
    z-index: 10;
    top: 3rem;
    left: 0;
    padding: 0 0.125rem;
    background: #FFF;
    border: 1px solid $grey;
  }
  li li {
    margin: 0;
    height: auto;
    height: 2.25rem;
    line-height: 2rem;
    border-bottom: 1px solid $grey;
  }
  li:hover ul {
    display: block;
  }
  li li a {
    border: none;
    padding: 0 1rem;
    &:hover {
      color: $accent;
    }
  }
}
