/**
 * Header
 */

.l-header {
  .l-inner {
    padding: 0 $gutter;
  }
  @import "logo";
  @import "header-nav";
  a {
    font-weight: bold;
    font-size: 1rem;
    font-family: $sans;
    // text-transform: uppercase;
    white-space: nowrap;
    color: $dark;
  }
}

.nav-icons {
  position: relative;
  flex-grow: 0;
  width: auto;
  .hamburger,
  &-search {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    display: inline-flex;
    align-items: center;
  }
  .hamburger {
    display: none;
  }
  svg {
    color: $dark;
  }
  &-search {
    padding: 0.375rem;
  }
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: $medium;
  .is-active & {
    background-color: $accent;
  }
}


/**
 * Hamburger
 */

@include down($xl) {
  .hamburger {
    display: inline-flex!important;
  }
  .nav-menu {
    position: relative;
    border: 1px solid blue;
    overflow: hidden;
    &::after {
      position: absolute;
      z-index: 10;
      content: "...";
      top: 0;
      right: 0;
      width: 5rem;
      height: 3.5rem;
      background: linear-gradient(90deg, rgba(#FFF, 0), #FFF 75%);
      text-align: right;
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;
      color: $accent;
    }
    ul {
      justify-content: flex-start!important;
    }
  }
}

@include down($sm) {
  .nav-menu {
    visibility: hidden;
  }
}

@include down($xs) {
  .logo span {
    display: none;
  }
}
