/**
 * Settings
 */

html {
  // background: linear-gradient(-0deg, $light 0%, shade($light, 10%) 100%);
  // background-attachment: fixed;
  background: $light;
  &.is-disabled {
    overflow: hidden;
    pointer-events: none;
  }
}


/**
 * Responsive font-size & line-height
 */

html {
  // font-size: calc( 14px + (15 - 14) * ((100vw - 400px) / ( 1200 - 400)));
  line-height: 1.5;
}


/**
 * Layout
 */

body {
  position: relative;
  font-family: $serif;
  color: $dark;
  min-height: 100vh;
  overflow: hidden;
}

.l-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.l-header {
  position: relative;
  background: #FFF;
  height: 3.5rem;
  margin-bottom: $gutter;
}

.l-container {
  flex: 1;
  min-height: 100%;
}

.l-section {
  position: relative;
  // pages.scss
}

.l-inner {
  position: relative;
  width: 100%;
  max-width: 77rem; // 1200px + 2rem padding
  margin: auto;
}

.l-footer {
  position: relative;
  background: #FFF;
  margin-top: $gutter;
}

/**
 * Responsive
 */

// Планшеты — 768px
// @include down($md) {
//   [flex],
//   [size] {
//     flex: inherit!important;
//   }
// }
@include down($xs) {
  .l-header,
  .l-footer {
    margin: 0;
  }
  // .l-container {}
  .l-inner {
    padding: 0;
  }
  .c-card {
    margin: 1rem 0 0!important;
  }
  .aside-events,
  .is-scroll {
    height: inherit!important;
    overflow: inherit!important;
  }
  .study-btns button {
    flex: 1 100%;
    margin: 0!important;
    ~ button {
      margin-bottom: 2px;
    }
  }
  .l-footer {
    text-align: center;
    .social-icons {
      margin-top: 2rem;
      justify-content: space-between;
      > * {
        margin: 0 0.25rem;
      }
    }
  }
}

// Телефоны —  640px
// @media (max-width: 40em) {}
