/**
 * Logo A
 */

.logo {
  // outline: 1px solid blue;
  display: inline-flex;
  align-items: center;
  span {
    margin-left: 0.875rem;
    font-weight: normal;
    font-family: $sans;
    color: $dark;
  }
  svg {
    float: left;
    width: 2.25rem;
    height: 2.25rem;
    color: $accent;
  }
  // full svg color-logo.svg
  // svg {
  //   float: left;
  //   width: 10.25rem;
  //   height: 2.25rem;
  //   color: $accent;
  // }
}
