/**
 * Modal Navigations
 */

// when is shown, set hamburger upper
.hamburger.is-active {
  z-index: 10000;
  pointer-events: all;
}

// .l-container {
//   transform: initial;
//   transition: transform 0.5s;
//   .is-disabled & {
//     transform: scale3d(0.95, 0.95, 1);
//     transition: transform 0.5s;
//   }
// }

.l-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($dark, 0.95);
  padding: 1rem;
  overflow: hidden;
  overflow-y: auto;
  pointer-events: all;
  visibility: hidden;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.35s, visibility 0s 0.5s;
  &.is-active {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition: transform 0.35s;
  }
  /**
   * Nav sections
   */
  .l-inner {
    min-height: 100%;
    padding: 0;
    // text-align: center;
    a {
      color: $light;
    }
    li {
      font-weight: bold;
      font-family: $sans;
      font-size: 1.5rem;
      padding: 0.5rem;
      border-bottom: 1px solid $medium;
    }
    li ul {
      margin-top: 1rem;
    }
    li li {
      font-weight: normal;
      font-size: 1rem;
      font-family: $sans;
      // color: $grey;
      padding: 0 1em 1rem;
      border: none;
    }
  }
  /**
   * Search
   */
  /* .modal-search form {
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    > * {
      padding: 0;
      background: none;
      border: none;
      height: 3rem;
      box-shadow: none;
      outline: none;
      &::-moz-focus-inner {
        border: 0;
      }
    }
    input {
      flex: 1;
      padding: 0 2rem;
      font-size: 1.5rem;
      color: #FFF;
      border-bottom: 1px solid $accent;
    }
    button {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      &:focus svg {
        color: $accent;
      }
    }
  } */
  /**
   * Tags
   */
  // .modal-tags {
  //   text-align: center;
  //   // transform: scale(0.85);
  //   // padding: 4rem 0;
  //   a {
  //     display: inline-block;
  //     vertical-align: middle;
  //     color: $dark;
  //     margin: 2px auto;
  //     margin: 0.125rem auto;
  //     padding: 0.5rem 1rem;
  //     background: $grey;
  //     box-shadow: inset 0 1px 0 0 $accent;
  //     &:hover {
  //       background: $secondary;
  //     }
  //   }
  // }
}
