<footer class="l-footer">
  <div flex="rows top-justify" class="l-inner">
    <div self="size-x2" class="meta">
      <!-- <div><svg class="logo"><use xlink:href="#color-logo" /></svg></div> -->
      <a href="/" class="logo">
        <svg><use xlink:href="#mono-logo" /></svg>
        <span><b>Ашрам</b> Бхактиведанты</span>
      </a>
      <p>&copy; Ашрам Бхактиведанты, 2017. Все материалы на этом сайте предназначены для последователей Гаудия-вайшнавизма.</p>
      <p>Ашрам Бхактиведанты является частью Всероссийского вайшнавского образовательного центра «Гита-нагари». Все права на материалы, находящиеся на сайте, охраняются в соответствии с законодательством РФ. Кришна всё видит!</p>
      <!-- <small>{ Сделано с <a href="http://ollejah.ru/" title="div'ная верстка сайтов">уважением</a> }</small> -->
    </div>
    <div flex="row-right" self="size-x1" class="social-icons">
      <a href="#"><svg><use xlink:href="#mono-facebook" /></svg></a>
      <a href="#"><svg><use xlink:href="#mono-youtube" /></svg></a>
      <a href="#"><svg><use xlink:href="#mono-vk" /></svg></a>
      <a href="#"><svg><use xlink:href="#mono-twitter" /></svg></a>
      <a href="#"><svg><use xlink:href="#mono-instagram" /></svg></a>
    </div>
  </div>
</footer>
