<header class="l-header">
  <div flex="row center-justify" class="l-inner">

    <a href="./" class="logo">
      <svg><use xlink:href="#mono-logo" /></svg>
      <span><b>Ашрам</b> Бхактиведанты</span>
    </a>

    <nav class="nav-menu js-primary-menu">
      <ul flex="row-right">
        <li class="parent"><a href="about.html">Об ашраме</a></li>
        <li class="parent"><a href="projects.html">Проекты</a></li>
        <li class="parent"><a href="media.html">Медиа</a>
          <ul>
            <li><a href="cards.html">Видео</a></li>
            <li><a href="blog.html">Аудио</a></li>
            <li><a href="cards.html">Статьи</a></li>
            <li><a href="cards.html">Фото</a></li>
          </ul>
        </li>
        <li class="parent"><a href="preachers.html">Выпускники</a></li>
        <li class="parent"><a href="blog.html">Абитуриентам</a></li>
        <li class="parent"><a href="cards.html">Контакты</a></li>
        <li class="parent"><a href="page.html">Поддержать проект</a></li>
      </ul>
    </nav>

    <div flex="row-right" class="nav-icons">
      <a href="#" class="nav-icons-search js-search">
        <svg><use xlink:href="#mono-loop" /></svg>
      </a>
      <div class="hamburger hamburger--squeeze js-hamburger">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </div>

  </div>
</header>
