<div class="l-overlay js-navigation">
  <nav class="l-inner modal-nav">
    <ul flex="column">
      <li class="is-active"><a href="#">Об ашраме</a></li>
      <li><a href="#">Проекты</a></li>
      <li><a href="#">Медиа</a>
        <ul>
          <li><a href="#">Видео</a></li>
          <li><a href="#">Аудио</a></li>
          <li><a href="#">Статьи</a></li>
          <li><a href="#">Фото</a></li>
        </ul>
      </li>
      <li><a href="#">Выпускники</a></li>
      <li><a href="#">Абитуриентам</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Поддержать проект</a></li>
    </ul>
  </nav>
</div>
