<!-- begin intro -->
<section class="l-section --single">
  <div flex="rows center-justify" class="l-inner c-grid">
    <div class="c-video js-video c-card --size-x1">
      <img src="../assets/video-poster.svg" alt="video-poster">
      <video controls="" preload="metadata">
        <source src="//donate.abvedanta.ru/video/promo.mp4" type="video/mp4"> Тег video не поддерживается вашим браузером. <a href="/video/promo.mp4">Скачайте видео</a>.</video>
    </div>
  </div>
</section>
<!-- @end intro -->


<!-- begin main -->
<section class="l-section --content --single">
  <main flex="rows center-justify" class="l-inner c-grid" role="contentinfo">
    <!-- begin article -->
    <article class="article">
      <h1>Об Ашраме Бхактиведанты</h1>
      <h4>Отдельная страница. По центру — презентационный ролик, который можно посмотреть</h4>
      <p>Ниже – текст с общей информацией, далее гиперссылки на разделы страницы, при клике на которую, экран прокручивается до соответствующей темы. К каждой теме будет ролик и короткий текст, который посетитель сайта легко сможет прочитать.</p>
      <menu class="c-toc">
        <a href="#history">История ашрама</a>
        <a href="#study">Система образования</a>
        <a href="#teachers">Преподавательский состав</a>
      </menu>
      <section class="toc-section" id="history">
        <h2>История ашрама</h2>
        <div class="c-video js-video">
          <img src="../assets/video-poster.svg" alt="video-poster">
          <video controls="" preload="metadata">
            <source src="//donate.abvedanta.ru/video/promo.mp4" type="video/mp4"> Тег video не поддерживается вашим браузером. <a href="/video/promo.mp4">Скачайте видео</a>.</video>
        </div>
        <p>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам. Особенное горячие обсуждения вызывают темы о положении женщин… И как ни странно обе стороны даже приводят цитаты Шрилы Прабхупады в доказательство своей правоты. Так как понять кто прав? И как участвовать в подобных обсуждениях, оставаясь внутренне чистым и не совершая вайшнава-апарадх? Об этом будет в данном вебинаре.</p>
      </section>
      <section class="toc-section" id="study">
        <h2>Система образования</h2>
        <div class="c-video js-video">
          <img src="../assets/video-poster.svg" alt="video-poster">
          <video controls="" preload="metadata">
            <source src="//donate.abvedanta.ru/video/promo.mp4" type="video/mp4"> Тег video не поддерживается вашим браузером. <a href="/video/promo.mp4">Скачайте видео</a>.</video>
        </div>
        <p>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам. Особенное горячие обсуждения вызывают темы о положении женщин… И как ни странно обе стороны даже приводят цитаты Шрилы Прабхупады в доказательство своей правоты. Так как понять кто прав? И как участвовать в подобных обсуждениях, оставаясь внутренне чистым и не совершая вайшнава-апарадх? Об этом будет в данном вебинаре.</p>
      </section>
      <section class="toc-section" id="teachers">
        <h2>Преподавательский состав</h2>
        <div class="c-video js-video">
          <img src="../assets/video-poster.svg" alt="video-poster">
          <video controls="" preload="metadata">
            <source src="//donate.abvedanta.ru/video/promo.mp4" type="video/mp4"> Тег video не поддерживается вашим браузером. <a href="/video/promo.mp4">Скачайте видео</a>.</video>
        </div>
        <p>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам. Особенное горячие обсуждения вызывают темы о положении женщин… И как ни странно обе стороны даже приводят цитаты Шрилы Прабхупады в доказательство своей правоты. Так как понять кто прав? И как участвовать в подобных обсуждениях, оставаясь внутренне чистым и не совершая вайшнава-апарадх? Об этом будет в данном вебинаре.</p>
      </section>
      <hr>
      <h2>Вайшнавы об ашраме</h2>
      <blockquote cite="http://example.com/facts">
        <p>И как ни странно обе стороны даже приводят цитаты Шрилы Прабхупады в доказательство своей правоты. Так как понять кто прав? И как участвовать в подобных обсуждениях, оставаясь внутренне чистым и не совершая вайшнава-апарадх? Об этом будет в данном вебинаре.</p>
        <cite>Бхакти Вигьяна Госвами</cite>
      </blockquote>
      <blockquote cite="http://example.com/facts">
        <p>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам. Особенное горячие обсуждения вызывают темы о положении женщин… И как ни странно обе стороны даже приводят цитаты Шрилы Прабхупады в доказательство своей правоты. </p>
        <cite>Бхакти Вигьяна Госвами</cite>
      </blockquote>
      <blockquote cite="http://example.com/facts">
        <p>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам. Особенное горячие обсуждения вызывают темы о положении женщин… И как ни странно обе стороны даже приводят цитаты Шрилы Прабхупады в доказательство своей правоты. Так как понять кто прав? И как участвовать в подобных обсуждениях, оставаясь внутренне чистым и не совершая вайшнава-апарадх? Об этом будет в данном вебинаре.</p>
        <cite>Бхакти Вигьяна Госвами</cite>
      </blockquote>
    </article>
    <!-- @end article -->
  </main>
</section>
<!-- end main -->


<!-- begin listing -->
<section class="l-section">
  <div flex="rows stretch-justify" class="l-inner c-grid">

    <article flex="row-justify" class="c-card --size-x1">
      <figure>
        <img src="../assets/f01.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>

    <article flex="row-justify" class="c-card --size-x1">
      <figure>
        <img src="../assets/i02.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>

    <article flex="row-justify" class="c-card --size-x1 --event">
      <figure>
        <img src="../assets/i00.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Семинар</div>
      </header>
    </article>
  </div>
</section>
<!-- @end listing -->


<!-- begin cards -->
<section class="l-section">
  <main class="l-inner c-grid">

    <article flex="column" class="c-card --size-x3">
      <figure>
        <img src="../assets/f01.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>

    <article flex="column" class="c-card --size-x3">
      <figure>
        <img src="../assets/i02.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>

    <article flex="column" class="c-card --size-x3 --event">
      <figure>
        <img src="../assets/i00.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Семинар</div>
      </header>
    </article>
  </main>
</section>
<!-- end cards -->
