<!-- begin intro -->
<section class="l-section">
  <div flex="rows center-justify" class="l-inner c-grid">

    <aside flex="column" class="c-module c-card --size-x3 aside-events">
      <header class="c-module-heading">События</header>
      <ul class="c-module-inner is-scroll events-list">
        <li>
          <div class="c-meta">
            <span class="c-label">Амриталока</span>
            <span class="c-date"><svg><use xlink:href="#mono-time" /></svg>12.06.2017</span>
          </div>
          <a href="#/2/065">От невнимательности</a>
          <small>Сарвагья дас</small>
        </li>
        <li>
          <div class="c-meta">
            <span class="c-label">Семинар</span>
            <span class="c-date"><svg><use xlink:href="#mono-time" /></svg>12.06.2017</span>
          </div>
          <a href="#/2/067">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a>
          <small>Сарвагья дас</small>
        </li>
        <li>
          <div class="c-meta">
            <span class="c-label">Вебинар</span>
            <span class="c-date"><svg><use xlink:href="#mono-time" /></svg>12.06.2017</span>
          </div>
          <a href="#">От невнимательности к энтузиазму</a>
          <small>Сарвагья дас</small>
        </li>
        <li>
          <div class="c-meta">
            <span class="c-label">Ретрит</span>
            <span class="c-date"><svg><use xlink:href="#mono-time" /></svg>12.06.2017</span>
          </div>
          <a href="#/2/006">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a>
          <small>Сарвагья дас</small>
        </li>
        <li>
          <div class="c-meta">
            <span class="c-label">Семинар</span>
            <span class="c-date"><svg><use xlink:href="#mono-time" /></svg>12.06.2017</span>
          </div>
          <a href="#/2/006">Практичные шаги к улучшению джапы</a>
          <small>Сарвагья дас</small>
        </li>
        <li>
          <div class="c-meta">
            <span class="c-label">Вебинар</span>
            <span class="c-date"><svg><use xlink:href="#mono-time" /></svg>12.06.2017</span>
          </div>
          <a href="#/2/065">От невнимательности</a>
          <small>Сарвагья дас</small>
        </li>
        <li>
          <div class="c-meta">
            <span class="c-label">Амриталока</span>
            <span class="c-date"><svg><use xlink:href="#mono-time" /></svg>12.06.2017</span>
          </div>
          <a href="#/2/067">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a>
          <small>Сарвагья дас</small>
        </li>
        <li>
          <div class="c-meta">
            <span class="c-label">Ретрит</span>
            <span class="c-date"><svg><use xlink:href="#mono-time" /></svg>12.06.2017</span>
          </div>
          <a href="#">От невнимательности к энтузиазму</a>
          <small>Сарвагья дас</small>
        </li>
        <li>
          <div class="c-meta">
            <span class="c-label">Амриталока</span>
            <span class="c-date"><svg><use xlink:href="#mono-time" /></svg>12.06.2017</span>
          </div>
          <a href="#/2/006">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a>
          <small>Сарвагья дас</small>
        </li>
      </ul>
    </aside>

    <div class="carousel js-carousel c-card --size-x2">
      <div class="carousel-wrapper">
        <section class="carousel-items js-carousel-items" style="transform:translateX(0)">
          <figure class="carousel-item js-carousel-item">
            <img src="../assets/i02.jpg" alt="">
            <figcaption class="carousel-caption">
              <h2><a href="#">Я хочу рассказать вам маленькую историю...</a></h2>
              <h4>Бхакти Вигьяна Госвами</h4>
            </figcaption>
          </figure>
          <figure class="carousel-item js-carousel-item">
            <img src="../assets/i02.jpg" alt="">
            <figcaption class="carousel-caption">
              <h2><a href="#">Я хочу рассказать вам маленькую историю...</a></h2>
              <h4>Бхакти Вигьяна Госвами</h4>
            </figcaption>
          </figure>
          <figure class="carousel-item js-carousel-item">
            <img src="../assets/i02.jpg" alt="">
            <figcaption class="carousel-caption">
              <h2><a href="#">Я хочу рассказать вам маленькую историю...</a></h2>
              <h4>Бхакти Вигьяна Госвами</h4>
            </figcaption>
          </figure>
          <figure class="carousel-item js-carousel-item">
            <img src="../assets/i02.jpg" alt="">
            <figcaption class="carousel-caption">
              <h2><a href="#">Я хочу рассказать вам маленькую историю...</a></h2>
              <h4>Бхакти Вигьяна Госвами</h4>
            </figcaption>
          </figure>
          <figure class="carousel-item js-carousel-item">
            <img src="../assets/i02.jpg" alt="">
            <figcaption class="carousel-caption">
              <h2><a href="#">Я хочу рассказать вам маленькую историю...</a></h2>
              <h4>Бхакти Вигьяна Госвами</h4>
            </figcaption>
          </figure>
        </section>
      </div>
      <div class="carousel-nav">
        <span class="prev is-disabled"><svg><use xlink:href="#mono-prev" /></svg></span>
        <span class="next"><svg><use xlink:href="#mono-next" /></svg></span>
      </div>
      <div flex="row-right" class="c-dots js-carousel-dots">
        <span class="is-active">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
      </div>
    </div>

  </div>
</section>
<!-- @end intro -->


<!-- begin intro -->
<section class="l-section">
  <div flex="rows stretch-justify" class="l-inner c-grid info-blocks">
    <div flex="column" class="c-module c-card --size-half">
      <header class="c-module-heading">Информация для поступающих</header>
      <div flex="column" class="c-module-inner">
        <!-- <div class="study-info is-scroll"> -->
        <div class="c-module-content study-info">
          <h2>Бхакти-шастри — знание, которое становится опытом</h2>
          <p><b>Только систематическое изучение священных текстов дает нам правильное понимание сокровенного послания, которое может по-настоящему изменить нашу жизнь.</b></p>
          <blockquote>
            <p>Ашрам Бхактиведанты предлагает вам возможность пройти курс бхакти-шастри в новом уникальном формате online занятий и очных встреч.</p>
          </blockquote>
          <p>Обсуждения online помогут вам увидеть практическое применение знаний в реальной жизни, а домашние задания и живые встречи превратят их в опыт. На встречах мы будем подводить итоги каждой изученной главы и обсуждать практическое применение знаний.</p>
          <!-- <p>Невозможно сразу применить на практике большой объем информации и полностью изменить свою жизнь в один миг, поэтому обучение будет проходить поэтапно в течение всего года. Это позволит вам от недели к неделе открывать для себя сокровища священных писаний и применять это знание в личной духовной практике под руководством преподавателей.</p> -->
        </div>
        <div flex="rows-justify" class="study-btns">
          <button class="btn -accent">Подать заявку</button>
          <button class="btn">Подробнее...</button>
        </div>
      </div>
    </div>
    <div flex="column" class="c-module c-card --size-half">
      <header class="c-module-heading">
        Ближайшие мероприятия
        <!-- <a href="#more">ещё</a> -->
        <a href="#more" title="Смотреть больше событий"><svg><use xlink:href="#mono-more" /></svg></a>
      </header>
      <div class="c-module-inner">
        <div class="c-module-content upcoming-events">
          <div class="c-meta">
            <span class="c-label">Семинар</span>
            <span class="c-date"><svg><use xlink:href="#mono-time" /></svg>12.06.2017</span>
            <a href="#" title="Поделиться событием в соцсетях" class="c-share"><svg><use xlink:href="#mono-share" /></svg></a>
          </div>
          <h2><a href="#/2/067">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
          <small>Сарвагья дас</small>
          <p>Мы рассмотрим 52-ю ануччхеду Шри Таттва-сандарбхи, в которой доказываться, что объектом изучения Шримад-бхагаватам является та же самая Абсолютная Истина, о которой говорят Упанишады и Веданта-сутра. Эта Абсолютная Истина содержит в себе разнообразные энергии, включая джив, индивидуальных душ, качественно неотличных от Нее. Шрила Джива Госвами докажет, что поняв это, дживы с помощью практики бхакти способны восстановить утраченное единство с Нею через любовное преданное служение.</p>
        </div>

        <div flex="row-center" class="c-dots">
          <span>1</span>
          <span class="is-active">2</span>
          <span>3</span>
        </div>
        <!-- <ul flex="column stretch-justify" class="events-list --upcoming is-scroll">
            <li>
              <a href="#/2/067">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a>
              <small>Сарвагья дас</small>
              <div class="c-meta">
                <span class="c-label">Семинар</span>
                <span class="c-date"><svg><use xlink:href="#mono-time" /></svg>12.06.2017</span>
                <a href="#" title="Поделиться событием в соцсетях" class="c-share"><svg><use xlink:href="#mono-share" /></svg></a>
              </div>
            </li>
            <li>
              <a href="#">От невнимательности к энтузиазму</a>
              <small>Сарвагья дас</small>
              <div class="c-meta">
                <span class="c-label">Семинар</span>
                <span class="c-date"><svg><use xlink:href="#mono-time" /></svg>12.06.2017</span>
                <a href="#" title="Поделиться событием в соцсетях" class="c-share"><svg><use xlink:href="#mono-share" /></svg></a>
              </div>
            </li>
            <li>
              <a href="#/2/006">Только систематическое изучение священных текстов дает нам правильное понимание сокровенного послания</a>
              <small>Сарвагья дас</small>
              <div class="c-meta">
                <span class="c-label">Семинар</span>
                <span class="c-date"><svg><use xlink:href="#mono-time" /></svg>12.06.2017</span>
                <a href="#" title="Поделиться событием в соцсетях" class="c-share"><svg><use xlink:href="#mono-share" /></svg></a>
              </div>
            </li>
            <li>
              <a href="#/2/006">Практичные шаги к улучшению джапы</a>
              <small>Сарвагья дас</small>
              <div class="c-meta">
                <span class="c-label">Семинар</span>
                <span class="c-date"><svg><use xlink:href="#mono-time" /></svg>12.06.2017</span>
                <a href="#" title="Поделиться событием в соцсетях" class="c-share"><svg><use xlink:href="#mono-share" /></svg></a>
              </div>
            </li>
          </ul> -->
      </div>
    </div>
  </div>
</section>
<!-- @end intro -->


<!-- begin main -->
<section class="l-section">
  <!-- <main class="l-inner c-grid --masonry article-cards"> -->
  <main class="l-inner c-grid">

    <article flex="column" class="c-card --size-x3">
      <figure>
        <img src="../assets/f01.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>

    <article flex="column" class="c-card --size-x3">
      <figure>
        <img src="../assets/i02.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>

    <article flex="column" class="c-card --size-x3 --event">
      <figure>
        <img src="../assets/i00.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Семинар</div>
      </header>
    </article>

    <article flex="column" class="c-card --size-x3">
      <figure>
        <img src="../assets/i04.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3">
      <figure>
        <img src="../assets/video-poster.svg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Вебинар</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3">
      <figure>
        <img src="../assets/f00.png" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3">
      <figure>
        <img src="../assets/f01.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3">
      <figure>
        <img src="../assets/i03.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3">
      <figure>
        <img src="../assets/f03.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3">
      <figure>
        <img src="../assets/f00.png" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3">
      <figure>
        <img src="../assets/video-poster.svg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Вебинар</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3">
      <figure>
        <img src="../assets/f02.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
  </main>

  <!-- pagination -->
  <div flex="row-center" class="wp-pagenavi"> <span class="pages">Страница 1 из 18</span><span class="current">1</span><a class="page larger" href="#page/2">2</a><a class="page larger" href="#page/3">3</a><a class="page larger" href="#page/4">4</a><a class="page larger" href="#page/5">5</a><span class="extend">...</span><a class="larger page" href="#page/10">10</a><span class="extend">...</span><a class="nextpostslink" rel="next" href="#page/2">→</a><a class="last" href="#page/18">Последняя</a></div>
  <!-- @endpagination -->
</section>
<!-- end main -->
