<!-- begin intro -->
<section class="l-section --banner">
  <div flex="rows center-justify" class="l-inner c-grid">
    <h1>Проекты Ашрама</h1>
    <p>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам. Особенное горячие обсуждения вызывают темы о положении женщин… И как ни странно обе стороны даже приводят цитаты Шрилы Прабхупады в доказательство своей правоты.</p>
  </div>
</section>
<!-- @end intro -->


<!-- begin listing -->
<v-cards />

<!-- <section class="l-section">
  <div class="l-inner cards-filters js-cards-filters">
    <menu class="filter-panel">
      <a href="#event">Событие</a>
      <a href="#seminar">Семинар</a>
      <a href="#broadcast">Трансляция</a>
      <a href="#all" class="is-active">все</a>
    </menu>
  </div>

<main class="l-inner c-grid js-filtered-cards">
    <article flex="column" class="c-card --size-x3" data-filter="event">
      <figure>
        <img src="../assets/f01.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="seminar">
      <figure>
        <img src="../assets/i02.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Семинар</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="broadcast">
      <figure>
        <img src="../assets/i00.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Трансляция</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="event">
      <figure>
        <img src="../assets/f01.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="seminar">
      <figure>
        <img src="../assets/i02.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Семинар</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="broadcast">
      <figure>
        <img src="../assets/i00.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Трансляция</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="event">
      <figure>
        <img src="../assets/f01.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="seminar">
      <figure>
        <img src="../assets/i02.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Семинар</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="broadcast">
      <figure>
        <img src="../assets/i00.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Трансляция</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="event">
      <figure>
        <img src="../assets/f01.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="seminar">
      <figure>
        <img src="../assets/i02.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Семинар</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="broadcast">
      <figure>
        <img src="../assets/i00.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Трансляция</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="event">
      <figure>
        <img src="../assets/f01.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="seminar">
      <figure>
        <img src="../assets/i02.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Семинар</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="broadcast">
      <figure>
        <img src="../assets/i00.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Трансляция</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="event">
      <figure>
        <img src="../assets/f01.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="seminar">
      <figure>
        <img src="../assets/i02.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Семинар</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="broadcast">
      <figure>
        <img src="../assets/i00.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Трансляция</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="event">
      <figure>
        <img src="../assets/f01.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="seminar">
      <figure>
        <img src="../assets/i02.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Семинар</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="broadcast">
      <figure>
        <img src="../assets/i00.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Трансляция</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="event">
      <figure>
        <img src="../assets/f01.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="seminar">
      <figure>
        <img src="../assets/i02.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Семинар</div>
      </header>
    </article>
    <article flex="column" class="c-card --size-x3" data-filter="broadcast">
      <figure>
        <img src="../assets/i00.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Трансляция</div>
      </header>
    </article>
  </main>
</section> -->
<!-- @end listing -->
