<!-- begin intro -->
<section class="l-section --single">
  <div flex="rows center-justify" class="l-inner c-grid">

    <div class="c-card --size-x3">size-x1</div>
    <div class="c-card --size-x2">size-x2</div>
    <!-- <div class="c-card --size-x1">size-x1</div> -->
    <figure class="c-card --size-x1">
      <img src="../assets/video-poster.svg" alt="">
    </figure>

  </div>
</section>
<!-- @end intro -->


<!-- begin main -->
<section class="l-section --content --single">
  <main flex="rows center-justify" class="l-inner c-grid" role="contentinfo">
    <!-- begin article -->
    <article class="article">
      <h1>От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</h1>
      <blockquote cite="http://example.com/facts">
        <p>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам. Особенное горячие обсуждения вызывают темы о положении женщин… И как ни странно обе стороны даже приводят цитаты Шрилы Прабхупады в доказательство своей правоты. Так как понять кто прав? И как участвовать в подобных обсуждениях, оставаясь внутренне чистым и не совершая вайшнава-апарадх? Об этом будет в данном вебинаре.</p>
      </blockquote>
      <h4>В назначенное время смотрите трансляцию на ЭТОЙ странице. Вопросы к эфиру задавайте заранее в комментариях, а во время эфира — в чате.</h4>
      <p>Приход Шри Чайтаньи Махапрабху повернул вспять привычное течение Кали Юги. Приходя как скрытая аватара, Господь Чайтанья показывает нам пример преданности Господу. В настроении преданного Он проявлял свои энергии и могущество верховной личности Бога через ближайшее окружение. Так он проявил Нама-Таттву через Харидаса Тхакура, Самбандха-гьян через Санатану Госвами. Поэтому чтобы в полной мере познать Кришну, мы обращаемся к Господу Чайтанье, к Шри Панча-таттве и к их ближайшим спутникам.</p>
    </article>
    <!-- @end article -->
  </main>
</section>
<!-- end main -->
