<!-- begin intro -->
<section class="l-section --banner">
  <div flex="rows center-justify" class="l-inner c-grid">
    <h1>Выпускники Ашрама</h1>
    <p>Независимо от&nbsp;суммы пожертвования вы&nbsp;получите свои &laquo;духовные проценты&raquo; за&nbsp;помощь в&nbsp;становлении вайшнавского образования и&nbsp;подарки от&nbsp;Шри Шри Гаура-Нитай:</p>
  </div>
</section>

<section class="l-section">
  <div flex="rows center-justify" class="l-inner c-grid">
    <!-- <div class="c-card --size-x3">size-x1</div>
    <div class="c-card --size-x2">size-x2</div> -->

    <figure class="c-card --size-x1">
      <img src="../assets/video-poster.svg" alt="">
    </figure>
  </div>
</section>
<!-- @end intro -->


<!-- begin main -->
<section class="l-section">
  <main flex="rows center-justify" class="l-inner" role="contentinfo">
    <h1 class="-center">Наши выпускники-проповедники:</h1>
    <div class="c-grid">
      <figure flex="column" class="c-card --size-x3"><img src="../assets/arjuna.jpg" alt=""></span>
        <figcaption class="heading">
          <h2>Арджуна дас</h2>
          <h4>Антон Устинов</h4> С&nbsp;мая 2016 года ректор &laquo;Ашрама Бхактиведанты&raquo;. Разрабатывает и&nbsp;преподает курсы подготовки к&nbsp;получению <nobr>пранама-мантры</nobr> и&nbsp;первой инициации <nobr>&laquo;Бхакти-правеша&raquo;</nobr> и&nbsp; <nobr>&laquo;Бхакти-ашрая&raquo;</nobr> в&nbsp;Москве</figcaption>
      </figure>
      <figure flex="column" class="c-card --size-x3"><img src="../assets/achytamadhava.jpg" alt="">
        <figcaption class="heading">
          <h2>Ачьюта Мадхава дас</h2>
          <h4>Антон Кобзев</h4> Лектор просветительского центра &laquo;Сарасвати&raquo; и&nbsp;ректор образовательного ашрама под руководством <nobr>Аудхарья-дхамы</nobr> прабху. ( <nobr>О. Г. Торсунова</nobr>). Разрабатывает и&nbsp;проводит семинары для публичной проповеди в&nbsp;России и&nbsp;странах СНГ</figcaption>
      </figure>
      <figure flex="column" class="c-card --size-x3"><img src="../assets/yamunajivana.jpg" alt="">
        <figcaption class="heading">
          <h2>Ямуна-дживана дас</h2>
          <h4>Евгений Федорко</h4> <nobr>Повар-проповедник</nobr>! Преподаватель кулинарии и&nbsp;организатор программы распространения прасада в&nbsp;Москве, преподаватель курса <nobr>&laquo;Бхакти-правеша&raquo;</nobr></figcaption>
      </figure>
      <figure flex="column" class="c-card --size-x3"><img src="../assets/nitaimangala.jpg" alt="">
        <figcaption class="heading">
          <h2>Нитай Мангала дас</h2>
          <h4>Никита Греков</h4> Организатор проповеднического проекта Mantras&stories, автор ряда семинаров, ведущий популярного блога &laquo;Рассказы Кришнаита&raquo;</figcaption>
      </figure>
      <figure flex="column" class="c-card --size-x3"><img src="../assets/anantagauranga.jpg" alt="">
        <figcaption class="heading">
          <h2>Ананта Гауранга дас</h2>
          <h4>Алексей Мышкин</h4> Лидер группы &laquo;Одно, Но&raquo;, поэт, профессиональный журналист, преподаватель ашрама</figcaption>
      </figure>
      <figure flex="column" class="c-card --size-x3"><img src="../assets/dinanath.jpg" alt="">
        <figcaption class="heading">
          <h2>Динанатх дас</h2>
          <h4>Дмитрий Григорьев</h4> Координатор программы проповеди в&nbsp;Москве, лектор, автор семинаров</figcaption>
      </figure>
      <figure flex="column" class="c-card --size-x3"><img src="../assets/akhiladhara.jpg" alt="">
        <figcaption class="heading">
          <h2>Ахиладхара дас</h2>
          <h4>Александр Коломиец</h4> Лектор просветительского центра &laquo;Сарасвати&raquo; доктора <nobr>О. Г. Торсунова</nobr>, автор семинаров, постоянный участник эфиров <nobr>&laquo;Веда-радио&raquo;</nobr></figcaption>
      </figure>
      <figure flex="column" class="c-card --size-x3"><img src="../assets/mathurananda.jpg" alt="">
        <figcaption class="heading">
          <h2>Матхурананда дас</h2>
          <h4>Михаил Труфанов</h4> Организатор ряда проповеднических проектов: Кулинарные курсы &laquo;Амриталока&raquo;, Ретриты для прабху, фестиваль &laquo;Деревня Кришны&raquo;, &laquo;Вебинары Золотого Века&raquo;</figcaption>
      </figure>
      <figure flex="column" class="c-card --size-x3"><img src="../assets/anantasri.jpg" alt="">
        <figcaption class="heading">
          <h2>Ананта Шри дас</h2>
          <h4>Андрей Алиев</h4> Разработчик уникального <nobr>3-х</nobr> месячного учебного курса по&nbsp; <nobr>Бхагавад-гите</nobr>. Ректор Ашрама Бхактиведанты c&nbsp;2012 по&nbsp;2016 год</figcaption>
      </figure>
      <!-- <div class="c-video js-video">
        <img src="../assets/video-poster.svg" alt="video-poster">
        <video controls="" preload="metadata">
          <source src="//donate.abvedanta.ru/video/promo.mp4" type="video/mp4"> Тег video не поддерживается вашим браузером. <a href="/video/promo.mp4">Скачайте видео</a>.</video>
      </div> -->
      <h2 class="-center">Каждый год из&nbsp;стен ашрама выходят новые проповедники!</h2>
      <div self="size-1of1" flex="row center-center"><a href="/agreement.html" class="btn -lg -accent">Стать попечителем</a></div>
    </div>
    <!-- begin article -->
    <!-- <article class="article">
      <h4>В назначенное время смотрите трансляцию на ЭТОЙ странице. Вопросы к эфиру задавайте заранее в комментариях, а во время эфира — в чате.</h4>
      <p>Приход Шри Чайтаньи Махапрабху повернул вспять привычное течение Кали Юги. Приходя как скрытая аватара, Господь Чайтанья показывает нам пример преданности Господу. В настроении преданного Он проявлял свои энергии и могущество верховной личности Бога через ближайшее окружение. Так он проявил Нама-Таттву через Харидаса Тхакура, Самбандха-гьян через Санатану Госвами. Поэтому чтобы в полной мере познать Кришну, мы обращаемся к Господу Чайтанье, к Шри Панча-таттве и к их ближайшим спутникам.</p>
    </article> -->
    <!-- @end article -->
  </main>
</section>
<!-- end main -->
