<!-- begin intro -->
<section class="l-section --banner">
  <div flex="rows center-justify" class="l-inner c-grid">
    <h1>Проекты Ашрама</h1>
    <p>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам. Особенное горячие обсуждения вызывают темы о положении женщин… И как ни странно обе стороны даже приводят цитаты Шрилы Прабхупады в доказательство своей правоты.</p>
  </div>
</section>
<!-- @end intro -->


<!-- begin listing -->
<section class="l-section">
  <div flex="rows stretch-justify" class="l-inner c-grid --projects">

    <article flex="row-justify" class="c-card --size-x1">
      <figure>
        <img src="../assets/f01.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">Амриталока-онлайн</a></h2>
        <p>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам. Особенное горячие обсуждения вызывают темы о положении женщин… И как ни странно обе стороны даже приводят цитаты Шрилы Прабхупады в доказательство своей правоты.</p>
        <button class="btn -accent">Ссылка на страницу проекта</button>
      </header>
    </article>

    <article flex="row-justify" class="c-card --size-x1">
      <figure>
        <img src="../assets/i02.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">Ретриты для прабху</a></h2>
        <p>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам. Особенное горячие обсуждения вызывают темы о положении женщин… И как ни странно обе стороны даже приводят цитаты Шрилы Прабхупады в доказательство своей правоты.</p>
        <button class="btn -primary">Ссылка на страницу проекта</button>
      </header>
    </article>

    <article flex="row-justify" class="c-card --size-x1">
      <figure>
        <img src="../assets/i00.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">Вебинары золотого века</a></h2>
        <p>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам. Особенное горячие обсуждения вызывают темы о положении женщин… И как ни странно обе стороны даже приводят цитаты Шрилы Прабхупады в доказательство своей правоты.</p>
        <button class="btn">Ссылка на страницу проекта</button>
      </header>
    </article>
  </div>
</section>
<!-- @end listing -->
