<!-- begin intro -->
<section class="l-section --single">
  <div flex="rows center-justify" class="l-inner c-grid">
    <figure class="c-card --size-x1">
      <img src="../assets/video-poster.svg" alt="">
    </figure>
  </div>
</section>
<!-- @end intro -->


<!-- begin main -->
<section class="l-section --content --single">
  <main flex="rows center-justify" class="l-inner c-grid" role="contentinfo">
    <!-- begin article -->
    <article class="article">
      <h1>От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</h1>
      <blockquote cite="http://example.com/facts">
        <p>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам. Особенное горячие обсуждения вызывают темы о положении женщин… И как ни странно обе стороны даже приводят цитаты Шрилы Прабхупады в доказательство своей правоты. Так как понять кто прав? И как участвовать в подобных обсуждениях, оставаясь внутренне чистым и не совершая вайшнава-апарадх? Об этом будет в данном вебинаре.</p>
      </blockquote>
      <figure>
        <img src="../assets/i02.jpg" alt="">
        <figcaption>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам</figcaption>
      </figure>
      <h4>В назначенное время смотрите трансляцию на ЭТОЙ странице. Вопросы к эфиру задавайте заранее в комментариях, а во время эфира — в чате.</h4>
      <h2>На вебинаре вы узнаете:</h2>
      <ul>
        <li>почему большинство не может оставаться равнодушными при обсуждении тем вроде «Положение женщин».</li>
        <li>в чем важность сотрудничества</li>
        <li>этикет философского спора</li>
      </ul>
      <h2>От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</h2>
      <p>Приход Шри Чайтаньи Махапрабху повернул вспять привычное течение Кали Юги. Приходя как скрытая аватара, Господь Чайтанья показывает нам пример преданности Господу. В настроении преданного Он проявлял свои энергии и могущество верховной личности Бога через ближайшее окружение. Так он проявил Нама-Таттву через Харидаса Тхакура, Самбандха-гьян через Санатану Госвами. Поэтому чтобы в полной мере познать Кришну, мы обращаемся к Господу Чайтанье, к Шри Панча-таттве и к их ближайшим спутникам.</p>
      <figure>
        <img src="../assets/i03.jpg" alt="">
        <figcaption>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам</figcaption>
      </figure>
      <h2>Приход Шри Чайтаньи Махапрабху</h2>
      <p>Приход Шри Чайтаньи Махапрабху повернул вспять привычное течение Кали Юги. Приходя как скрытая аватара, Господь Чайтанья показывает нам пример преданности Господу. В настроении преданного Он проявлял свои энергии и могущество верховной личности Бога через ближайшее окружение. Так он проявил Нама-Таттву через Харидаса Тхакура, Самбандха-гьян через Санатану Госвами. Поэтому чтобы в полной мере познать Кришну, мы обращаемся к Господу Чайтанье, к Шри Панча-таттве и к их ближайшим спутникам.</p>
      <figure>
        <img src="../assets/i04.jpg" alt="">
        <figcaption>Иногда даже в обществе преданных возникают споры из-за различий во мнениях по тем или иным темам</figcaption>
      </figure>
    </article>
    <!-- @end article -->
  </main>
</section>
<!-- end main -->


<!-- begin listing -->
<section class="l-section --single">
  <div flex="rows stretch-justify" class="l-inner c-grid">

    <article flex="row-justify" class="c-card --size-x1">
      <figure>
        <img src="../assets/f01.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>

    <article flex="row-justify" class="c-card --size-x1">
      <figure>
        <img src="../assets/i02.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Событие</div>
      </header>
    </article>

    <article flex="row-justify" class="c-card --size-x1 --event">
      <figure>
        <img src="../assets/i00.jpg" alt="">
      </figure>
      <header class="heading">
        <h2><a href="#">От невнимательности к энтузиазму. Практичные шаги к улучшению джапы</a></h2>
        <h4>Бхакти Вигьяна Госвами</h4>
        <div class="c-label">Семинар</div>
      </header>
    </article>
  </div>
</section>
<!-- @end listing -->
