/**
 * Colours
 */

// Base Set
$primary: #5376bd;
$secondary: #5ca7a1;
$accent: #B7585A;
$success: #009695;
$wait: #F9DD79;

// Greys
$dark: #342D3D;
$darker: tint($dark, 16%);
$strong: tint($dark, 30%);
$medium: tint($dark, 50%);
$grey: tint($dark, 70%);
$light: tint($dark, 85%);
$lighter: tint($dark, 95%);

// Additional
$gold: #B9AEA5;


/**
 * Colours map
 */

$baseColors: (
  '-primary': $primary, 
  '-secondary': $secondary, 
  '-accent': $accent, 
  '-wait': $wait, 
  '-success': $success,
  '-dark': $dark,
  '-darker': $darker,
  '-strong': $strong,
  '-medium': $medium,
  '-grey': $grey,
  '-light': $light,
  '-lighter': $lighter,
);


/**
 * Color highlight classes from color map
 */
@each $k, $v in $baseColors {
  .#{$k} {
    color: $v!important;
  }
}

/**
 * Fonts
 */

$system: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
"Roboto",
"Oxygen",
"Ubuntu",
"Cantarell",
"Fira Sans",
"Droid Sans",
"Helvetica Neue",
sans-serif;

$serif: "Noto Serif", serif;
$sans: "Roboto", sans-serif;

/**
 * Base elements
 */

$radius: 0.125rem;
$shadow: 0 1px 1px 0 rgba(#000, 0.1);
$border: 1px solid $grey;
$pad: 2rem;
$gutter: 1rem;

/**
 * Sizes
 */

$itemSize: 48vh;
$itemSizePortrait: 64vw;
$itemSizeFullscreen: 90vh;
