/**
 * Forms
 */

fieldset {
  border: none;
}

legend {
  display: none;
}

form {
  position: relative;
  margin: 0 auto;
}

form .iw {
  overflow: visible;
  position: relative;
  margin: 1rem auto;
}

form abbr {
  color: $accent;
  border: none;
}

label {
  // font-weight: bold;
  display: inline-block;
  margin-bottom: 0.25rem;
  color: $darker;
}


/** 
 * placeholder colors
 */

// input::-webkit-input-placeholder,
// input::-moz-placeholder {
//   color: #93402f;
// }

/**
 * Input
 */

[type="text"],
.text,
textarea {
  font: 1.25rem $sans;
  width: 100%;
  padding: 0.75rem 1.25rem;
  border: 2px solid $grey;
  background: #FFF;
  // box-shadow: inset 0 1px 1px rgba($dark, 0.075);
  transition: border linear 0.2s;
  &:focus {
    border-color: $primary;
  }
}

textarea {
  resize: none;
}


/**
 * Buttons
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

[type="submit"],
[type="button"],
.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  padding: 1em 1.25em 0.875rem;
  text-align: center;
  font: 1rem $sans;
  // line-height: 1.846;
  color: #FFF;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: $medium;
  border: 0 none;
  outline: none;
  user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: all .4s;
  &:focus,
  &:hover {
    color: #FFF;
    background: tint($medium, 10%);
  }
  &:active {
    // top: 1px;
    color: rgba(#FFF, 0.65);
    background: $medium;
    box-shadow: inset 0 1px 0 rgba($dark, 0.25);
  }
  // Effects
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle, #FFF 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
    background-position: 50%;
    opacity: 0;
    pointer-events: none;
    transition: background .5s, opacity 1s;
  }
  &:active::after {
    background-size: 0 0;
    opacity: .2;
    transition: 0s;
  }
  /**
   * Sizes
   */
  &.-lg {
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  /**
   * Colours from $baseColors
   */
  @each $k,
  $v in $baseColors {
    &.#{$k} {
      background: $v;
      color: #FFF!important;
      &:focus,
      &:hover {
        color: #FFF;
        background: tint($v, 10%);
      }
      &:active {
        color: rgba(#FFF, 0.65)!important;
        background: $v;
      }
    }
  }
  &.-white {
    color: $medium;
    background: #FFF;
    &:active {
      top: 1px;
      color: rgba($dark, 0.65);
      background: #FFF;
    }
  }
  &.-border {
    border: 1px solid;
  }
}


/**
 * Checkbox
 */

input[type="checkbox"],
input.checkbox {
  float: left;
  margin: 5px 6px 0 0;
  & + label {
    display: inline !important;
    float: inherit !important;
    width: inherit !important;
    padding: inherit !important;
    color: inherit !important;
    background: inherit !important;
  }
}


/**
 * Radio
 */

input[type="radio"],
input.radio {
  float: left;
  margin: 5px 6px 0 0;
}

input[type="radio"] + label,
input.radio + label,
label > input[type="radio"],
label > input.radio {
  float: none;
}


/**
 * Select
 */

select {
  width: auto;
  margin-top: 0.375rem;
}


/**
 * jQuery
 */

// #status {
//   display: none;
//   margin: 0.5rem auto;
//   padding: 0.5rem 1rem;
//   line-height: 1.5rem;
//   background: #d56;
//   color: #FFF;
// }
