// Эластичные встраиваемые видео
// Для видео применяем те же правила, как для изображений. 
// По непонятным причинам max-width: 100% (для видео) не работает в Safari. 
// Нужно использовать width: 100%.
embed,
object,
iframe,
video {
  width: 100% !important;
  height: auto;
}

audio {
  background: transparent !important;
  width: 100%;
}

// Responsive videos
.el-video {
  position: relative;
  padding-top: 0;
  padding-bottom: 56.25%; // 16:9 ratio
  height: 0;
  margin-bottom: 1.25em;
  overflow: hidden;
  &.--ratio-4x3 {
    padding-bottom: 75%; // 4:3 ratio
  }
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
