/**
 * Pie charts — with SVG
 */

.circle {
  position: relative;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  // overflow: hidden;
  svg {
    width: auto;
    height: 6rem;
    transform: rotate(-90deg);
    border-radius: 50%;
  }
  &-percent {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: $darker;
    display: none;
  }
  sup {
    font-family: serif;
    color: $grey;
    display: none;
  }
  .line-background {
    fill: none;
    // stroke: tint($accent, 80%);
    stroke: tint($primary, 90%);
    // stroke: #E7F2FB;
    stroke-width: 3rem;
  }
  .line-foreground {
    fill: none;
    stroke: url(#grad);
    stroke-width: 3rem;
  }
  .-progress {
    animation: progress 1.5s ease-in-out 0.5s forwards;
  }
  @keyframes progress {
    // from {
    //   stroke-dashoffset: var(--element-dashoffset);
    // }
    to {
      stroke-dashoffset: 0;
    }
  }
}
