/**
 * Carousels, Sliders, etc. nav dots
 */

.c-dots {
  flex: 0 100%!important;
  // position: absolute;
  // z-index: 10;
  // right: 2rem;
  // bottom: 0;
  > * {
    flex-shrink: 0;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    margin: 1rem 0.5rem;
    // background: rgba($light, 0.25);
    background: $grey;
    border-radius: 50%;
    text-indent: -999rem;
    cursor: pointer;
  }
  > .is-active {
    background: $accent!important;
    transform: scale(1.25);
  }
}
