/**
 * Loader
 */

.c-loader-w {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#FFF, 0.85);
  display: flex;
  align-items: flex-start;
  h2 {
    flex: 1;
    display: inline-block;
    padding: 1rem;
    text-align: center;
    font-weight: normal;
    font-size: 1.125rem;
    font-family: $sans;
    color: $accent;
    background: #FFF;
    display: none;
  }
}

// .spinAround {
//   position: fixed;
//   width: 3rem;
//   height: 3rem;
//   border: 4px solid $accent;
//   border-radius: 50%;
//   text-indent: -999rem;
//   animation: 0.35s spinAround;
// }


/**
 * Loader balls pulse
 */

// <div class="c-loader">
//   <div></div>
//   <div></div>
//   <div></div>
// </div>

$size: 5rem;
$ball-size: 1rem;

@mixin balls() {
  @include global-bg();
  width: $ball-size;
  height: $ball-size;
  border-radius: 100%;
  margin: 1rem;
}

@mixin global-bg() {
  background-color: $accent;
}

@mixin global-animation() {
  animation-fill-mode: both;
}

@mixin loader ($n:3, $start:0) {
  @for $i from 2 through $n {
    >:nth-child(#{$i}) {
      animation-delay: (($i - 1) * 0.2) + s;
    }
  }
}

.c-loader {
  @include loader();
  position: absolute;
  top: 50%;
  left: 50%;
  // transform: translateY(-$size / 2);
  transform: translate(-$size / 2, -$size / 2);
  > * {
    @include balls();
    @include global-animation();
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    margin: 0;
    width: $size;
    height: $size;
    animation: loader 1s 0s linear infinite;
  }
}

@keyframes loader {
  0% {
    transform: scale(0.0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}


/**
 * Loader rotate segmented circle
 */

/* .c-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 10px solid #969696;
  border-top: 10px solid #ffffff;
  border-right: 10px solid #c5c5c5;
  border-bottom: 10px solid #a7a7a7;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: loader 2s linear infinite;
  margin: -25px;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
