/**
   * Meta
   */

.c-meta {
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.c-label {
  margin-right: 1rem;
}

.c-date {
  display: inline-flex;
  align-items: center;
  font: 0.75rem $sans;
  height: 1.5rem;
  color: $medium;
  svg {
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.125rem;
  }
}

.c-share {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  color: $medium;
  border: 1px solid $light;
  svg {
    padding: 0.25rem;
  }
  &:hover {
    background-color: $primary;
    border-color: transparent;
    color: #FFF;
  }
}
