/**
 * Module
 */

.c-module {
  &-heading {
    position: relative;
    background: $medium;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: $sans;
    color: #FFF;
    padding: 0.6875rem $pad*2 0.25rem $pad;
    margin-bottom: 2px;
    a {
      position: absolute;
      right: 2rem;
    }
    svg {
      color: $light;
      width: 1.275rem;
      height: 1.275rem;
    }
  }
  &-inner {
    background: #FFF;
    height: 100%;
  }
  &-content {
    padding: $pad;
    flex: 1;
    h2 {
      font-weight: bold;
      font-family: $sans;
      font-size: 1.5em;
      line-height: 1.25;
      margin-bottom: 1rem;
    }
    small {
      display: block;
      margin-top: 0.5em;
      font-family: $sans;
      color: $medium;
      ~ * {
        margin-top: 1rem;
      }
    }
    p {
      font-size: 0.875rem;
      margin-bottom: 1rem;
    }
  }
}
