/**
 * Tags
 */

.c-tags {
  i {
    display: inline-block;
    font-family: $sans;
    font-style: normal;
    font-size: 0.6875rem;
    color: tint($accent, 80%);
    background: rgba(black, 0.15);
    margin-bottom: 0.25rem;
    padding: 0.125rem 0.375rem;
    border-radius: 0.125rem;
  }
}
