/**
 * Component video
 */

.c-video {
  @extend .el-video;
  margin-left: 0!important;
  margin-right: 0!important;
  // position: relative;
  // margin: 0;
  // padding: 0 0 56.25%;
  // height: 0;
  // border: 1px solid;
  > * {
    margin: 0!important;
  }
  img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}
