/**
 * Yandex money
 */

.c-yamoney {
  text-align: center;
  pointer-events: all;
  h4 {
    margin-top: 2rem;
  }
  .sum {
    &-w {
      position: relative;
      margin: 1rem auto 3em;
      input {
        text-align: center;
        padding: 0.75rem 1rem;
        font-size: 2rem;
        max-width: 12rem;
      }
    }
    &-postfix {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 3.5em;
      margin-top: -0.6875em;
      margin-left: 7rem;
      text-align: left;
      font-size: 1.5em;
    }
  }
  .type-w {
    margin: 1rem auto 3em;
  }
  input[type="radio"] {
    position: absolute;
    z-index: -1000;
    left: -999em;
    + label {
      border: 1px solid $light;
      position: relative;
      display: inline-block;
      width: calc(100% / 3 - 1rem);
      max-width: 10rem;
      height: 9rem;
      margin: 0 0.5rem;
      padding-top: 5.25rem;
      line-height: 1.125;
      vertical-align: middle;
      -webkit-touch-callout: none;
      user-select: none;
      cursor: pointer;
      overflow: hidden;
      background-position: 50% 25%;
      background-repeat: no-repeat;
      background-size: 3rem 3rem;
      background-color: $light;
    }
    + label.credit-card {
      background-image: svg('<svg viewBox="0 0 20 14" xmlns="http://www.w3.org/2000/svg"><path d="M19 14h-18c-.6 0-1-.4-1-1v-12c0-.6.4-1 1-1h18c.6 0 1 .4 1 1v12c0 .6-.4 1-1 1zm-17-2h16v-10h-16v10z" fill="currentColor"/><path fill="#{$accent}" d="M4 4h12v2h-12z"/></svg>');
    }
    + label.mobile {
      background-image: svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M15 20h-10c-1.7 0-3-1.3-3-3v-14c0-1.7 1.3-3 3-3h10c1.7 0 3 1.3 3 3v14c0 1.7-1.3 3-3 3zm-10-18c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h10c.6 0 1-.4 1-1v-14c0-.6-.4-1-1-1h-10z" fill="currentColor"/><circle cx="10" cy="14" r="2" fill="#{$accent}"/></svg>');
    }
    + label.wallet {
      background-image: svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M19 4h-3v-3c0-.6-.4-1-1-1h-12c-1.7 0-3 1.3-3 3v14c0 1.7 1.3 3 3 3h16c.6 0 1-.4 1-1v-14c0-.6-.4-1-1-1zm-17-1c0-.6.4-1 1-1h11v2h-12v-1zm16 15h-15c-.6 0-1-.4-1-1v-11h16v12z" fill="currentColor"/><circle cx="14" cy="12" r="2" fill="#{$accent}"/></svg>');
    }
    &:focus + label,
    &:checked + label {
      border-color: $accent;
      background-color: #FFF !important;
      color: $dark;
    }
  }
}
