<template>
  <section class="l-section">
    <div class="l-inner cards-filters">
      <menu class="filter-panel">
        <button class="btn" @click="filterItems('event')" :class="{'is-active':filterBy=='event'}">Событие</button>
        <button class="btn" @click="filterItems('seminar')" :class="{'is-active':filterBy=='seminar'}">Семинар</button>
        <button class="btn" @click="filterItems('broadcast')" :class="{'is-active':filterBy=='broadcast'}">Трансляция</button>
        <button class="btn" @click="filterItems('all')" :class="{'is-active':filterBy=='all'}">все</button>
      </menu>
    </div>

    <main ref="items" class="l-inner c-grid">
      <article v-for="(item, index) in filteredItems" v-if="index<show" ref="item" flex="column" class="c-card --size-x3">
        <figure>
          <img :src="`./static/${item.image}`" alt="">
        </figure>
        <header class="heading">
          <h2><a href="item.link">{{ item.title }}</a></h2>
          <h4>{{ item.author }}</h4>
          <div class="c-label">{{ item.label }}</div>
        </header>
      </article>
    </main>

    <div class="l-inner">
      <button class="btn -full" :disabled="show>=totalItems" @click="showMore">Показать больше</button>
    </div>

  </section>
</template>

<script>
export default {
  name: 'Cards',
  data() {
    return {
      isLoading: true,
      items: null,
      filterBy: 'all',
      show: 12,
      showStep: 12
    }
  },

  beforeCreate() {
    this.items = null
    this.isLoading = true
    fetch('./static/api/articles.json')
      .then(res => res.json())
      .then(res => this.items = res.articles)
      .catch(alert)
  },

  computed: {
    filteredItems() {
      return (this.filterBy !== 'all') ?
        this.items.filter(item => item.filter === this.filterBy) :
        this.items
    },
    totalItems() {
      return this.filteredItems && this.filteredItems.length
    }
  },

  updated() {
    if (!!this.$refs.items && !!this.$refs.item) {
      this.$refs.items.scrollTop = 0
      let delay = 0
      if (this.$refs.item.length > 0) {
        this.$refs.item.forEach(item => {
          !item.classList.contains('-out') && item.classList.add('-out')
          setTimeout(() => {
            item.classList.remove('-out')
          }, delay * 50)
          delay++
        })
      }
    }
  },

  methods: {
    filterItems(filterBy) {
      this.filterBy = filterBy
    },
    showMore() {
      const total = this.totalItems
      this.show = (this.show + this.showStep <= total) ? this.show + this.showStep : total
    }
  }
}
</script>

<style lang="scss" scoped>
.btn {
  font-size: 0.875rem;
  padding: 0.5em 1em;
  &.is-active {
    background: #5376BD;
  }
  &.-full {
    margin: 1rem;
    width: calc(100% - 2rem);
  }
  &[disabled] {
    opacity: 0.35;
    pointer-events: none;
    cursor: default;
  }
}
</style>
