/**
 * Additional articles
 */

.additional-articles {
  margin-bottom: 6rem;
  >.heading {
    display: block;
    padding: 1rem 6rem;
    border-bottom: 0.25rem solid $accent;
  }
}

.additional-articles-w {
  margin-top: 2rem;
  .c-card {
    flex: 0 100%;
    @include md {
      flex: 0 calc(100% / 3 - 1.5rem);
    }

    // flex-basis: 100%;
    // margin-bottom: 3.5rem;
    // @include md {
    //   flex-basis: calc(100% / 3 - 1.5rem);
    // }
    box-shadow: 0 0 2rem 0 rgba($dark, 0.25);
    transition: box-shadow 0.35s ease-in-out;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 2rem 0 rgba($dark, 0.5);
    }
    &.-video .heading {
      background: #FFF;
    }
    &.-event .heading {
      background: $grey;
    }
  }
  img {
    width: 100%; // разрешаем увеличение
  }
  .heading {
    flex: 1;
    order: 2;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    background: $secondary;
    h2 {
      font-size: 1.125rem;
      line-height: 1.35;
    }
    h4 {
      font-size: 0.875rem;
      font-family: $sans;
      color: $darker;
      margin-top: 0.5rem;
    }
  }
}
