/**
 * Aside
 */

a {
  display: inline-block;
}

.aside-module {
  margin-bottom: 4rem;
  h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    line-height: 1.35;
    @include md {
      text-align: left;
    }
  }
  &.-calendar h2 {
    color: inherit;
    @include md {
      color: #FFF;
    }
  }
  &.-banner {
    text-align: center;
  }
}

.-calendar .select {
  &:first-child {
    flex: 3;
    background: #FFF;
  }
  &:last-child {
    flex: 2;
    margin-left: 1px;
    background: $grey;
  }
  position: relative;
  display: inline-block;
  &::after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2em;
    padding-top: 0.875em;
    text-align: center;
    line-height: 1.5;
    color: $grey;
    transform: scale(0.84, 0.42);
    pointer-events: none;
  }
  select {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0.75rem 1rem;
    text-align: left;
    font-family: $sans;
    font-size: 1.125rem;
    border: none;
    outline: none;
    border-radius: 0;
    background: none;
    // background: linear-gradient(#FFF, $light);
    box-shadow: none;
    cursor: default;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.recent-articles {
  border-top: 1px solid $grey;
  li {
    border-bottom: 1px solid $grey;
    padding: 1rem 0;
  }
  small {
    display: block;
    margin-top: 0.25rem;
  }
}

.follow-icons {
  // @include aspect-ratio();
  // border: 1px solid;
  background: #FFF;
  border-radius: 50%;
  padding: 2.5rem 2rem;
  width: 18rem;
  height: 18rem;
  margin: 0 auto;
  > a {
    // width: 50%;
    width: 7rem;
    height: 7rem;
    padding: 0.5rem;
  }
}
