/**
Дополнения
ymatuhin.ru/front-end/media_quires_breakpoins

Bootstrap использует 5 контрольных точек для медиа выражений: 320px, 544px, 768px, 992px, 1200px. Этот фреймворк следует методике mobile first, в которой сначала сайт разрабатывается для мобильных устройств, а потом появляется для десктопов.

1. В медиа выражениях не используются никакие screen и only screen.
2. em зависят от размера шрифта у body. Он должен быть равен 16px чтобы все работало как нам нужно.
3. Предпочтительней использовать em вместо пикселей, чтобы ваша верстка не поехала если пользователь изменил стандартный размер шрифта.
4. Значение em в медиа выражениях эквавалентно 16 пикселям, и не зависит от размера шрифта у html или body.

Если вам нужно больше контрольных точек, то отталкивайтесь от этих размеров экранов — 120, 160, 240, 320, 360, 480, 540, 576, 600, 640, 720, 768, 800, 864, 900, 960, 1024, 1050, 1080, 1152, 1200, 1440, 1536, 1600, 1620, 1800, 2048, 2160, 2400, 3072, 3200, 3240, 4096, 4320, 4800.


============  Mobile First  ============

Телефоны —  544px
@media (min-width : 34em) {}

Планшеты — 768px
@media (min-width : 48em) {}

Десктоп — 992px
@media (min-width : 62em) {}

Широкоформатный экран — 1200px
@media (min-width : 75em) {}


==========  Non-Mobile First  ==========

Широкоформатный экран — 1200px
@media (max-width : 75.063em) {}

Десктоп — 992px
@media (max-width : 62.063em) {}

Планшеты — 768px
@media (max-width : 48.063em) {}

Телефоны —  544px
@media (max-width : 34.063em) {}

Айфон в портретном режиме — 320px
@media (max-width : 20.063em) {}

*/


/**
 * BREAKPOINTS
 * Mobile First
 */

$xs: 22.5em; // Extra small devices | Portrait phones (< 360px)
$sm: 34em; // Small devices | Landscape phones (≥ 544px)
$md: 48em; // Medium devices | Tablets (≥ 768px)
$lg: 62em; // Large devices | Desktops (≥ 992px)
$xl: 75em; // Extra large devices | Desktops (≥ 1200px)
$xxl: 120em; // Mega large Desktops | Desktops (≥ 1920px)

/**
 * Funcs
 */

@mixin up($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin down($size) {
  // @media screen and (max-width: $size - 0.063em) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: $xs) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: $sm) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: $md) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: $lg) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: $xl) {
    @content;
  }
}

@mixin xxl {
  @media screen and (min-width: $xxl) {
    @content;
  }
}

@mixin portrait {
  @media screen and (orientation: portrait) {
    @content;
  }
}

@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}
