/**
 * Mixin from devices map breakpoints
 * $use @include mq(xl) {
    color: blue;
  }
 */
@mixin mq($name) {
  $devices: (
    // xxs: (max-width: $md - 1px),
    'xs':  (min-width: 1024px),
    'sm':  (min-width: 1280px),
    'md':  (min-width: 1366px),
    'lg':  (min-width: 1440px),
    'xl':  (min-width: 1600px),
    'xxl': (min-width: 1920px)
  );
  
  // If the key exists in the map
  @if map-has-key($devices, $name) {
    @media screen and #{inspect(map-get($devices, $name))} {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + 
      "Please make sure it is defined in `$devices` map.";
  }
}