/**
 * Document settings
 ==========================================================================
 */

html {
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  // Please Stop "Fixing" Font Smoothing
  // -webkit-font-smoothing: inherit;
  // -moz-osx-font-smoothing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-width: 320px;
  min-height: 100%;
  overflow-x: hidden;
  // force a vertical scrollbar to prevent a jumpy page
  overflow-y: scroll;
}


/**
 * Headings
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  // font-family: $sans;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

big {
  font-size: inherit;
}

p {
  hyphens: auto;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

// b {
//   font-weight: bold;
// }
small {
  font-size: 0.75rem;
}

blockquote {
  padding: 0 2rem;
  border-left: 0.5rem solid tint($primary, 80%);
  // border-right: 0.125rem solid $grey;
  font-family: $sans;
  // font-style: italic;
}

code,
pre {
  // -moz-osx-font-smoothing: auto;
  // -webkit-font-smoothing: auto;
  font-family: monospace;
  line-height: 1.25;
}

code {
  background: rgba(#000, 0.25);
  color: $wait;
  font-weight: normal;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.875rem;
  // padding: 1px 2px 2px;
  padding: 0.125rem 0.375rem;
  border-radius: $radius;
  display: inline-block;
}

pre {
  background: $dark;
  color: #FFF;
  white-space: pre;
  word-wrap: normal;
  code {
    display: block;
    overflow-x: auto;
    padding: 16px 20px;
  }
}

hr {
  border-top-color: $grey;
}

svg {
  width: 100%;
  height: 100%;
}
