/*
+~~~~~~~~~~~~~~~~~~~~~~~~~+
¦ +---+ +---+ +---+ +---+ ¦
¦ | x | |   | |   | |   | ¦
¦ +---+ +---+ +---+ +---+ ¦
+~~~~~~~~~~~~~~~~~~~~~~~~~+
*/

// Grid configuration
$grid-gutter: 4% !default;
$grid-columns: 12 !default;
$grid-columns-five: 5 !default;

// *,
// *:after,
// *:before {
//   margin: 0;
//   padding: 0;
// }

.grid,
.row {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  margin-bottom: 2em;
  &.last,
  &:last-of-type {
    margin-bottom: 0;
  }
}

.--pad {
  padding: $grid-gutter;
}

[class*='col-'] {
  float: left;
  margin: 0 $grid-gutter 0 0;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
  &.last,
  &:last-of-type,
  &.-no-gutter {
    margin: 0;
  }
}

.--no-gutter [class*='col-'] {
  margin: 0;
}

// @media only screen and (min-width: 641px) { // 40em
@include up($md) {
  // 12 columns
  @for $i from 1 through $grid-columns {
    .col-#{$i}-#{$grid-columns} {
      $multiplier: $i / $grid-columns;
      width: 100 * $multiplier - $grid-gutter * (1 - $multiplier);
      &.-no-gutter {
        width: 100% * $multiplier;
      }
    }
  }
  .--no-gutter {
    @for $i from 1 through $grid-columns {
      .col-#{$i}-#{$grid-columns} {
        $multiplier: $i / $grid-columns;
        width: 100% * $multiplier;
      }
    }
  }
  // 5 columns
  // @for $i from 1 through $grid-columns-five {
  //   .col-#{$i}-#{$grid-columns-five} {
  //     $multiplier: $i / $grid-columns-five;
  //     width: 100 * $multiplier - $grid-gutter * (1 - $multiplier);
  //     &.-no-gutter {
  //       width: 100% * $multiplier;
  //     }
  //   }
  // }
  // .-no-gutter {
  //   @for $i from 1 through $grid-columns-five {
  //     .col-#{$i}-#{$grid-columns-five} {
  //       $multiplier: $i / $grid-columns-five;
  //       width: 100% * $multiplier;
  //     }
  //   }
  // }
}
