//
//  HTML5 Reset :: style.css
//  ----------------------------------------------------------
//  We have learned much from/been inspired by/taken code where offered from:
//
//  Eric Meyer          :: http://meyerweb.com
//  HTML5 Doctor        :: http://html5doctor.com
//  and the HTML5 Boilerplate :: http://html5boilerplate.com
//
//-------------------------------------------------------------------------------

// Let's default this puppy out
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  // font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

// Handle box-sizing while better addressing child elements:
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  // box-sizing: border-box;
  box-sizing: inherit;
}

// Address `[hidden]` styling not present in IE 8/9.
// Hide the `template` element in IE, Safari, and Firefox < 22.
[hidden],
template {
  display: none;
}

a, embed, object, video, audio {
  outline: 0;
}

// Correct `inline-block` display not defined in IE 8/9.
audio,
canvas,
video {
  display: inline-block;
}

// consider resetting the default cursor: https://gist.github.com/murtaugh/5247154
// Responsive images and other embedded objects
img,
object,
embed {
  max-width: 100%;
}

// we use a lot of ULs that aren't bulleted.
//  don't forget to restore the bullets within content.
ul {
  list-style: none;
}

// blockquote,
// q {
//   quotes: none;
// }

// blockquote:before,
// blockquote:after,
// q:before,
// q:after {
//   content: "";
//   content: none;
// }

// a {
//   margin: 0;
//   padding: 0;
//   font-size: 100%;
//   vertical-align: baseline;
//   background: transparent;
// }

// del {
//   text-decoration: line-through;
// }

// abbr[title],
// dfn[title] {
//   border-bottom: 1px dotted black;
//   cursor: help;
// }

// tables still need cellspacing="0" in the markup
// table {
//   border-collapse: collapse;
//   border-spacing: 0;
//   font-size: inherit;
//   font-size: 100%;
// }

// th {
//   font-weight: bold;
//   vertical-align: bottom;
// }

// td {
//   font-weight: normal;
//   vertical-align: middle;
// }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

pre {
  white-space: pre;
  // CSS2
  white-space: pre-wrap;
  // CSS 2.1
  white-space: pre-line;
  // CSS 3 (and 2.1 as well, actually)
  word-wrap: break-word;
  // IE
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

// td img {
//   vertical-align: middle;
// }

// Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// standardize any monospaced elements
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
